extends layout

block settings-content
  h1.widget-hd: span メールアドレス設定
  form(action='/settings', method='post').form
    div.input-group
      label メールアドレス
      input(type='email', name='email', placeholder="Your E-mail adress", required).input-text
    div.input-group
      label メールアドレスの公開
      p 誰もがあなたのメールアドレスを見られる状態になります。
      div.input-checkbox
        input(type='checkbox')
        label メールアドレスを全体に公開する
    div.input-group
      input(type='submit', value='変更を保存する').input-submit
      input(type='hidden', name='_csrf' value=csrftoken)
  h1.widget-hd: span 通知設定
  form(action='/settings', method='post').form
    div.input-group
      label NAMEからのお知らせ
      p NAME からお知らせメールが届きます。
      div.input-checkbox
        input(type='checkbox')
        label メール
        input(type='checkbox')
        label Web
    div.input-group
      label NAMEからのお知らせ
      p NAME からお知らせメールが届きます。
      div.input-checkbox
        input(type='checkbox')
        label メール
        input(type='checkbox')
        label Web
    div.input-group
      label NAMEからのお知らせ
      p NAME からお知らせメールが届きます。
      div.input-checkbox
        input(type='checkbox')
        label メール
        input(type='checkbox')
        label Web
    div.input-group
      input(type='submit', value='変更を保存する').input-submit
      input(type='hidden', name='_csrf' value=csrftoken)
