extends layout

block settings-content
  h1.widget-hd: span パスワード
  form(action='/settings', method='post').form
    div.input-group
      label 現在のパスワード
      input(type='password', name='current_password', placeholder='Your current password' required).input-text
    div.input-group
      label 新しいパスワード
      input(type='password', name='new_password', placeholder='Your new password' required).input-text
    div.input-group
      input(type='submit', value='変更を保存する').input-submit
      input(type='hidden', name='_csrf' value=csrftoken)
