footer.l-footer
  ul.l-footer__start
    li.l-footer__start-list: a(href="#").l-footer__start-link= string.site.copyright
    li.l-footer__start-list: a(href="#").l-footer__start-link= string.word.terms
    li.l-footer__start-list: a(href="#").l-footer__start-link= string.word.privacy
    li.l-footer__start-list: a(href="#").l-footer__start-link= string.word.help
    li.l-footer__start-list: a(href="#").l-footer__start-link= string.word.contact
  ul.l-footer__end
    li.l-footer__end-list: a(href="#").l-footer__end-link= string.view.footer.about
    li.l-footer__end-list: a(href="#").l-footer__end-link= string.word.users
    li.l-footer__end-list: a(href="#").l-footer__end-link= string.word.categories
    li.l-footer__end-list: a(href="#").l-footer__end-link= string.word.tags
    li.l-footer__end-list: a(href="#").l-footer__end-link= string.word.blog
