footer#footer.container
  ul#footer-start
    li: a(href="#")= string.site.copyright
    li: a(href="#")= string.word.terms
    li: a(href="#")= string.word.privacy
    li: a(href="#")= string.word.help
    li: a(href="#")= string.word.contact
  ul#footer-end
    li: a(href="#")= string.view.footer.about
    li: a(href="#")= string.word.users
    li: a(href="#")= string.word.categories
    li: a(href="#")= string.word.tags
    li: a(href="#")= string.word.blog
