{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "plugins": [],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {},
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "req|res|next"
      }
    ],
    "no-var": 2,
    "semi": ["error", "always"],
    "semi-spacing": ["error", { "after": true, "before": false }],
    "semi-style": ["error", "last"],
    "no-extra-semi": "error",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 160,
        "singleQuote": true
      }
    ]
  }
}
