// Form

// .p-form {
// }

.p-form__input-group {
  margin-bottom: 16px;
}

.p-form__label {
  display: block;
  margin-bottom: 2px;
  padding-left: 0.3em;
  font-weight: bold;
}

.p-form__paragraph {
  margin: 4px;
}

.p-form__warn {
  display: block;
  color: #f00;
}
