extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  header#header
    div#header-container.container
      h1#header-logo: a(href="#") #{title}
      ul#header-nav
        li: a(href="#") ホーム
        li: a(href="#") コミュニティ
      div#header-search 検索
      div#header-profile ログイン
  aside#aside
    p This is aside
  main#main
    p This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main
  footer#footer
    p This is Footer
