extends layout

block content
  div.auth-grid
    div.widget#auth-header
      h1 Indie9 にログイン
      p Indie9 のアカウントを持っていない方は
        a(href="/signup") 新規登録
        | から
    div.widget#auth-left ここには他サービスとの連携ログインのボタンを置く予定だよ！！
    form(action='/login', method='post')#auth-right.widget.form
      div
        label ユーザーID
        input(type='text', name='username', placeholder='Your user ID').big
      div
        label パスワード
        input(type='password', name='password', placeholder='Your password' required).big
      div
        input(type='submit', value='ログイン').big
        input(type='hidden', name='_csrf' value=csrftoken)
