extends ../../layout

block content
  #settings-grid
    .widget#settings-addon
      img(src='/thumbnail/' + game.thumbnailImage)#settings-addon-image
      div
        h3#settings-addon-big= game.title
        p#settings-addon-small= 'ID:' + game.id
    .widget#settings-left
      ul#settings-list
        li: a(href='./info')= string.view.edit.info.linkTitle
        li: a(href='./app')= string.view.edit.app.linkTitle
        li: a(href='./meta')= string.view.edit.meta.linkTitle
        li: a(href='./api')= string.view.edit.api.linkTitle
        li: a(href='./license')= string.view.edit.license.linkTitle
        li: a(href='./public')= string.view.edit.public.linkTitle
    .widget#settings-right
      block settings-content
