extends ../../layout

block content
  #settings-grid
    .widget#settings-addon
      img(src='/thumbnail/' + game.thumbnailImage)#settings-addon-image
      div
        h3#settings-addon-big= game.title
        p#settings-addon-small= 'ID:' + game.id
    .widget#settings-left
      ul#settings-list
        li: a(href='./info')= string.view.edit.info.linkTitle
        li: a(href='./app') ゲーム本体
        li: a(href='./meta') メタデータ
        li: a(href='./api') API キー
        li: a(href='./license') ライセンス
        li: a(href='./public') 公開設定
    .widget#settings-right
      block settings-content
