extends ../../layout

block main
  main.l-main--settings
    .p-widget.l-main--settings__status
      img(src='/thumbnail/' + game.thumbnailImage).l-main--settings__status-image
      div.l-main--settings__status-meta
        h3.l-main--settings__status-object= game.title
        p.l-main--settings__status-identity= 'ID: ' + game.id
    .p-widget.l-main--settings__side
      ul.l-main--settings__nav
        li.l-main--settings__nav-list: a(href='./info').l-main--settings__nav-link= string.view.edit.info.linkTitle
        li.l-main--settings__nav-list: a(href='./app').l-main--settings__nav-link= string.view.edit.app.linkTitle
        li.l-main--settings__nav-list: a(href='./meta').l-main--settings__nav-link= string.view.edit.meta.linkTitle
        li.l-main--settings__nav-list: a(href='./api').l-main--settings__nav-link= string.view.edit.api.linkTitle
        li.l-main--settings__nav-list: a(href='./license').l-main--settings__nav-link= string.view.edit.license.linkTitle
        li.l-main--settings__nav-list: a(href='./public').l-main--settings__nav-link= string.view.edit.public.linkTitle
    .p-widget.l-main--settings__main
      block settings-content
