footer#footer.container
  ul#footer-start
    li: a(href="#") © 2018 shioleap
    li: a(href="#") 利用規約
    li: a(href="#") プライバシー
    li: a(href="#") ヘルプ
    li: a(href="#") API 仕様
    li: a(href="#") お問い合わせ
  ul#footer-end
    li: a(href="#") indie9 について
    li: a(href="#") ユーザー
    li: a(href="#") カテゴリ
    li: a(href="#") タグ
    li: a(href="#") ブログ