header#header
  form(action='/search', method='get')
    div#header-container.container
      //- h1#header-logo: a(href="#") #{title}
      h1#header-logo: a(href="/") Indie9
      ul#header-nav
        li: a(href="#") ホーム
        li: a(href="#") コミュニティ
      input(type="text" name="q")#header-search
      if isAuthenticated
        div#header-end ログイン済み（#{user.name}）
      else 
        div#header-end
          a(href="/signup").header-button ユーザー登録
          a(href="/login").header-button ログイン