extends ../layout

block main
  main.l-main
    //- h1= title
    //- p Welcome to #{title}
    .p-widget
      h1.c-hd--h1: span.c-hd__underline ここはトップページです！
      p This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main This is Main
    p.p-widget 勉強がきらいだぁぁぁぁぁぁぁぁぁぁ！！！
      a(href='/settings') 設定
