extends ../../layout

block main
  main.l-main--settings
    .p-widget.l-main--settings__status
      img(src='/avater/' + user.avaterImage).l-main--settings__status-image
      div.l-main--settings__status-meta
        h3.l-main--settings__status-object= user.name
        p.l-main--settings__status-identity= '@' + user.screenName
    .p-widget.l-main--settings__side
      ul.l-main--settings__nav
        li.l-main--settings__nav-list: a(href='/settings/account').l-main--settings__nav-link= string.view.settings.account.linkTitle
        li.l-main--settings__nav-list: a(href='/settings/password').l-main--settings__nav-link= string.view.settings.password.linkTitle
        li.l-main--settings__nav-list: a(href='/settings/profile').l-main--settings__nav-link= string.view.settings.profile.linkTitle
        li.l-main--settings__nav-list: a(href='/settings/notifications').l-main--settings__nav-link= string.view.settings.notifications.linkTitle
    .p-widget.l-main--settings__main
      block settings-content
